.popup {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
    -o-transition: visibility 0.3s, opacity 0.3s ease-in-out;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}
