.popup {
    display: none;
    box-sizing: border-box;
    margin: 0;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 25px;
    width: 282px;
    height: 322px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  0px 0px 0px 3000px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 619px) {
    .popup {
        padding-top: 34px;
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 37px;
        width: 430px;
        height: 330px;
    }
}