.element__like-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: none;
}

.element__like-btn:active {
    background-color: #000000;
}

@media (hover: hover) {
    .element__like-btn:hover {
      opacity: 0.5;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer;
    }
}