.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-bottom: 36px;
    padding: 0;
    box-sizing: border-box;
    max-width: 880px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 927px) {
    .profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 50px;
    }
}