.header {
    margin: 0;
    margin-top: 28px;
    margin-bottom: 42px;
    padding: 0;
    padding-left: 27px;
    box-sizing: border-box;
    max-width: 880px;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #545454;
}

@media screen and (min-width: 927px) {
    .header {
        margin-top: 45px;
        margin-bottom: 42px;
        padding: 0;
        height: 74px;
    }
}