.profile__name {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: first baseline;
    column-gap: 10px;
}

@media screen and (min-width: 619px) {
    .profile__name {
        column-gap: 18px;
    } 
}