.profile__avatar {
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 26px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-position: center;
}

@media screen and (min-width: 619px) {
    .profile__avatar {
        margin-bottom: 0;
        margin-right: 30px;
    }
}