/* Normalize */

@import "../vendor/normalize.css";

/* Fonts */

@import "../fonts/fonts.css";

/* Page */

@import "../blocks/page/page.css";
@import "../blocks/page/_no-scroll/page_no-scroll.css";

/* Content */

@import "../blocks/content/content.css";

/* Header */

@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";

/* Profile */

@import "../blocks/profile/profile.css";
@import "../blocks/profile/__avatar/profile__avatar.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__name-text/profile__name-text.css";
@import "../blocks/profile/__disc/profile__disc.css";
@import "../blocks/profile/__add-btn/profile__add-btn.css";
@import "../blocks/profile/__edit-btn/profile__edit-btn.css";

/* Elements */

@import "../blocks/elements/elements.css";
@import "../blocks/element/element.css";
@import "../blocks/element/__image/element__image.css";
@import "../blocks/element/__group/element__group.css";
@import "../blocks/element/__like-btn/element__like-btn.css";
@import "../blocks/element/__like-btn/_active/element__like-btn_active.css";
@import "../blocks/element/__title/element__title.css";

/* Footer */

@import "../blocks/footer/footer.css";

/* Pop-up */

@import "../blocks/popup/popup.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/__close-btn/popup__close-btn.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/__form/popup__form.css";
@import "../blocks/popup/__title/popup__title.css";
@import "../blocks/popup/__field-disc/popup__field-disc.css";
@import "../blocks/popup/__field-name/popup__field-name.css";
@import "../blocks/popup/__submit-btn/popup__submit-btn.css";
