.element {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 282px;
    height: 361px;
    overflow: hidden;
}