.popup__field {
    box-sizing: border-box;
    margin: 0;
    /* margin-bottom: 20px; */
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    width: 100%;
    height: 37px;
    vertical-align: top;
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    line-height: 1.0;
}

.popup__field:focus {
    outline: none;
}

/* .popup__field:last-of-type {
    margin-bottom: 44px;
} */

/* @media screen and (min-width: 619px) {
    .popup__field:last-of-type {
        margin-bottom: 48px;
    }
} */

